/*  Loading hrs, min, and seconds content */
.clock-hours:before {
    content: var(--timer-hours);
}

.clock-minutes:before {
    content: var(--timer-minutes);
}

.clock-seconds:before {
    content: var(--timer-seconds);
}

/* Body style */
body {
    /* Font */
    font-family: 'Open Sans', sans-serif;
    min-height: 300px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fff;
    /* Animated gradient background */
    background: linear-gradient(-30deg, #111E6C, #0E4D92, #0F52BA, #003152);
    background-size: 600% 600%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    z-index: -50;
}

/* Weather style */
.weather {
    float: right;
    position: absolute;
    width: 160px;
    top: 0px;
    right: 0px;
    z-index: 10;
}

/* Class info style */
#class-info {
    display: flex;
    position: fixed;
    left: 45px;
    bottom: 250px;
    font-size: 4em;
    font-weight: 700;
    z-index: 8;
}

/* Schedule info style */
#schedule-info {
    display: flex;
    position: fixed;
    left: 50px;
    bottom: 220px;
    font-size: 1.3em;
    white-space: pre-wrap;
    z-index: 8;
}

/* Clock big container style */
.clock-container {
    background-color: #202020;
    border-radius: 5px;
    padding: 25px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 15px 90px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    position: fixed;
    left: 40px;
    bottom: 40px;
    z-index: 8;
}

/* Clock column style */
.clock-col {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 90px;
    position: relative;
}

.clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -42px;
}

.clock-col:not(:last-child):before {
    top: 35%;
}

.clock-col:not(:last-child):after {
    top: 50%;
}

.clock-timer:before {
    color: #fff;
    font-size: 5.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.clock-label {
    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 10px;
}

/* Corner clock style */
#clock {
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 11;
}

#widgets-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 400px;
    height: 60%;
    padding: 100px 50px 50px 100%;
    /*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(75%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0)));*/
    -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%);
    mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
    /*flex-wrap: wrap-reverse;*/
}

.widget {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 5px;
    padding: 25px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 15px 90px 30px rgba(0, 0, 0, 0.15);
    margin: 15px 0px;
    line-height: 1.3;
}

/* For mobile display */
@media (max-width: 615px), (max-height: 400px) {
    .clock-container {
        border-radius: 0px;
        padding: 20px 100%;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        justify-content: center;
    }

    .clock-timer:before {
        font-size: 3rem;
    }

    #class-info {
        font-size: 3.4rem;
        bottom: 170px;
    }

    #schedule-info {
        font-size: 1.2rem;
        bottom: 140px;
    }

    .clock-col {
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
        min-width: 70px;
        position: relative;
    }

    #widgets-bar {
        height: auto;
        top: 0px;
        bottom: 200px;
        min-height: 0;
        width: 100%;
        justify-content: center;
        padding: 80px 0px 0px 0px;
        display: block;
        overflow: scroll;
    }

    .widget {
        position: relative;
        margin: 25px 5%;
    }
}

/* For chrome widget display */
@media (max-height: 400px) {
    .clock-timer:before {
        font-size: 2rem;
    }

    #class-info {
        font-size: 3rem;
        bottom: 150px;
    }

    #schedule-info {
        font-size: 1rem;
        bottom: 120px;
    }

    .clock-col {
    }

    #clock {
        font-size: 1.2rem;
    }

    .weather {
        max-height: 40px;
    }

    #widgets-bar {
        visibility: hidden;
    }
}

#info {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#info-text {
    visibility: hidden;
    font-size: 0.9em;
    float: left;
    text-align: right;
    margin: 0px 5px;
}

#info-circle {
    margin: 0px 5px;
}

#bug-report {
    color: #ffffff;
}

#info:hover #info-text {
    visibility: visible;
}

@media (max-width: 900px) {
    #info {
        visibility: hidden;
    }
}

/* Sets styles of header, bold and strong as bold */
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
}

/* Gradient Code */
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
