@charset "utf-8";
/* CSS Document */


/* Body style */
body {
    /* Font */
    font-family: 'Open Sans', sans-serif;
    min-height: 300px;
    min-width: 500px;
    display: flex;
    color: #20265A;
    /* Animated gradient background */
    /*background: linear-gradient(-30deg, #111E6C, #0E4D92, #0F52BA, #003152);*/
    background-size: 1000% 1000%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    z-index: -50;
}

.content {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    margin: 30px;
}

#scheduler {
    text-align: center;
}

#coronaschedule td {
    border: 1px solid #20265A;
    border-collapse: collapse;
    padding: 5px;
}

#coronaschedule table {
    width: 100%;
    border: 1px solid #20265A;
    border-collapse: collapse;
}

